/********************
-=GALLERY STYLES
********************/
$caption_height: 100px;
$space_between_images: 5px;
$space_between_rows: 15px;
$tablet: 700px;
$phone: 390px;

$image_title_size: 16px;
$image_title_weight: normal; //options are 'bold' and 'normal'
$image_title_letter_spacing: 2px;
$image_title_font_style: none; //options are 'uppercase', 'lowercase' and 'none'
$rollover_color: white;

@mixin respond-to ($val, $query) {
  @media only screen and ($val: $query) {
    @content
  }
}

.content_container {
  display: block;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  margin: 0 0 $space_between_rows;

  @include respond-to(max-width, $phone) {
          float: none;
          min-width: 285px;
  }
}
.loading { 
    background: url(http://googledrive.com/host/0B51UCH0yGk6Femw0VU5MTlo3QzQ/loading18.gif) no-repeat;
    background-position: 50% 50%;
    background-size: 130px;
}
.image_container_large {
  bottom: 0;
  display: inline-block;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  padding: 0 $space_between_images;
}

.image_info {
  bottom: 0;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  height: $caption_height;
  padding: 10px $space_between_images 0;
  visibility: hidden;

  p {
      padding:0 10px;
      margin:0;
      &.caption {
        color: #000;
        margin: 5px 0;
        font-size: $image_title_size;
        font-weight: $image_title_weight;
        letter-spacing: $image_title_letter_spacing;
        text-transform: $image_title_font_style;

        &:hover {
          color: #333;
        }        
      }
    }
}

.main_img {
  margin: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 $space_between_images;
  visibility: hidden;
}

.imageFade {
   opacity: .8;
   transition: opacity .50s ease-in-out;
   -moz-transition: opacity .50s ease-in-out;
   -webkit-transition: opacity .50s ease-in-out; 
}


/* -------------------------------------------------------------- 
  -=PAGINATION
-------------------------------------------------------------- */  
.gallery_pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px 0;

    .page_button {
        display: inline-block;
        border: 1px solid #999;
        padding: 10px;
        margin: 0 5px;

        &.selected {
            color: #fff;
            background: #999;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
/* -------------------------------------------------------------- 
  -=PRODUCTS POPUP INFO
-------------------------------------------------------------- */  
.popup_info {  
  background: rgba($rollover_color, 0.6);

  display: none;
  bottom: 0;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: relative;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 999;
  height: 100%;

  @include respond-to(max-width, $tablet) {
      display: inline-block;
      color: invert($rollover_color);
      background: rgba($rollover_color, 0.4);
  }  
}
.popup_text {
  bottom: 0;
  left: 0;
  margin: 20% auto 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 28px;
  padding: 0 20px;
}
.popup_caption {
    color: invert($rollover_color);
    margin: 0;
    font-size: $image_title_size;
    font-weight: $image_title_weight;
    letter-spacing: $image_title_letter_spacing;
    text-transform: $image_title_font_style;
}

.popup_underscore {
    margin: 10px auto;
    width: 25px;
    border-color: rgba($rollover_color, 0.9);

}

